.copy-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #ffd700;
}

.copy-icon:hover {
    color: white;
}

.nft-img {
    max-width: 100%;
    max-height: 10rem;
}

.search-input {
    max-width: 20rem;
}
